:root {
  --bg-color: #efeff4;
  --color-dark: #3d3d51;
  --color-white: #ffffff;
  --color-grey: #9797a2;
  --color-bledny-grey: #cdcdd4;
  --color-blue: #007aff;
  --color-bledny-blue: #dae7fa;
  --color-green: #35cc5a;
  --color-bledny-green: #daffe3;
  --color-orange: #ff8400;
  --color-bledny-orange: #ffeee4;
  --color-red: #ea2124;
  --color-bledny-red: #ffe7e8;
  --color-category-border: #efeff4;
  --color-nickname: #9797a2;

  --spacing-bottom: 116px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  // height: -webkit-fill-available;
}

html {
  font-size: 10px;

  &[data-theme='dark'] {
    --color-dark: #efeff4;
    --bg-color: #1d1d25;
    --color-white: #343440;
    --color-bledny-blue: #00254d;
    --color-bledny-orange: #4d2800;
    --color-bledny-red: #460a0b;
    --color-bledny-grey: #7a7a87;
    --color-bledny-green: #103d1b;
    --color-category-border: #7a7a87;
    --color-nickname: #7a7a87;
  }
}

body {
  font-size: 1.6rem;
  // line-height: 1.35;
  color: var(--color-dark);
  background-color: var(--bg-color);
  // background-color: var(--color-white);

  // transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &.hidden {
    overflow-y: hidden;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}

h1 {
  font-weight: 800;
  font-size: 3.4rem;
}

h2 {
  font-weight: 800;
  font-size: 2.8rem;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
}

h4 {
  font-weight: 700;
  font-size: 1.6rem;
}

h5 {
  font-weight: 500;
  font-size: 1.4rem;
}

h6 {
  font-weight: 400;
  font-size: 0.8rem;
}

button {
  display: block;
  border: none;
  background-color: transparent;
}

svg {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}

img {
  display: block;
}
