:root {
  --bg-color: #efeff4;
  --color-dark: #3d3d51;
  --color-white: #ffffff;
  --color-grey: #9797a2;
  --color-bledny-grey: #cdcdd4;
  --color-blue: #007aff;
  --color-bledny-blue: #dae7fa;
  --color-green: #35cc5a;
  --color-bledny-green: #daffe3;
  --color-orange: #ff8400;
  --color-bledny-orange: #ffeee4;
  --color-tag-blue: #2c88ea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  // line-height: 1.35;
  color: var(--color-dark);
  background-color: var(--color-white);
}

h2 {
  font-weight: 800;
  font-size: 2.8rem;
}

h4 {
  font-weight: 700;
  font-size: 1.4rem;
}

h5 {
  font-weight: 500;
  font-size: 1.2rem;
}

h6 {
  font-weight: 400;
  font-size: 0.8rem;
}

button {
  display: block;
  border: none;
  background-color: transparent;
}

svg {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
