.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: radial-gradient(57.12% 57.12% at 50% 50%, #00c4ff 0%, #007aff 100%);
  overflow: hidden;

  .bottom {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 3.9 / 2.6;

    &::before {
      position: absolute;
      content: '';
      background-color: var(--bg-color);
      border-radius: 40px 0 0 0;
      width: 100%;
      height: 105px;
      bottom: -1px;
      left: 0;
      right: 0;
    }
  }

  .circle1,
  .circle2 {
    position: absolute;
    border-radius: 50%;
  }

  .circle1 {
    width: 191px;
    height: 191px;

    left: 25px;
    top: -137px;

    background: radial-gradient(
        108.51% 108.51% at 41.67% 2.54%,
        rgba(140, 0, 255, 0) 0%,
        rgba(140, 0, 255, 0.732414) 51.92%,
        #0048ff 78.38%,
        #00fffb 100%
      ),
      #007aff;

    transform: matrix(-0.97, -0.26, -0.26, 0.97, 0, 0);
  }

  .circle2 {
    width: 197px;
    height: 197px;

    right: -34px;
    top: 53px;

    background: radial-gradient(
        108.51% 108.51% at 41.67% 2.54%,
        rgba(140, 0, 255, 0) 0%,
        rgba(140, 0, 255, 0.732414) 51.92%,
        #007aff 78.38%,
        #00fffb 100%
      ),
      #007aff;
    transform: rotate(135deg);
  }
}

.slider {
  position: relative;

  .dots {
    display: flex;
    justify-content: center;
    gap: 10px;

    .dot {
      width: 8px;
      height: 8px;
      background-color: var(--color-bledny-grey);
      border-radius: 50%;

      transition: all 0.1s ease;

      &.active {
        background-color: var(--color-blue);
      }
    }
  }
}

.cards {
  position: relative;
  z-index: 2;
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  .inner {
    position: relative;
    display: flex;
    padding: 0 10px;
    padding-top: 22px;
    padding-bottom: 12px;
    gap: 10px;

    width: max-content;
  }

  .card {
    position: relative;
    display: block;
    width: 230px;
    aspect-ratio: 2.3 / 1.5;
    overflow: hidden;
    border-radius: 20px;
    color: var(--color-white);

    .circle1,
    .circle2,
    .circle3 {
      position: absolute;
      border-radius: 50%;
    }

    &.card1 {
      background: radial-gradient(93% 93% at 67.83% 64.67%, rgba(140, 0, 255, 0.7) 0%, rgba(0, 122, 255, 0) 100%),
        #007aff;
      // box-shadow: 0px 12px 120px rgba(0, 122, 255, 0.12);

      .extra {
        background-color: var(--color-bledny-green);

        .text {
          color: var(--color-green);
        }
      }

      .circle1 {
        width: 129px;
        height: 129px;
        left: -39px;
        top: -86px;

        background: radial-gradient(
            100% 100% at 41.47% 100%,
            #01ccfd 0%,
            #0048ff 51.92%,
            rgba(140, 0, 255, 0.73) 78.38%,
            #8c00ff 100%
          ),
          #007aff;
      }

      .info {
        .title {
          color: var(--color-bledny-blue);
        }
      }

      .circle2 {
        width: 197px;
        height: 197px;
        left: -17px;
        top: 88px;

        background: radial-gradient(
              70.81% 70.81% at 12.94% 84.52%,
              rgba(140, 0, 255, 0) 0%,
              rgba(140, 0, 255, 0.732414) 35.89%,
              #5a3ffe 70.24%,
              #2ba5fd 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          #007aff;
      }

      .circle3 {
        width: 197px;
        height: 197px;
        left: 145px;
        top: -52px;

        background: radial-gradient(
              71.07% 71.07% at 85.03% 13.45%,
              rgba(140, 0, 255, 0) 0%,
              rgba(0, 122, 255, 0.732414) 51.92%,
              #2ab2ff 78.38%,
              #19eafd 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          #007aff;
      }
    }

    &.card2 {
      background: radial-gradient(93% 93% at 67.83% 64.67%, rgba(240, 96, 0, 0.7) 0%, rgba(255, 132, 0, 0) 100%),
        #ff8400;
      /* box-shadow: 0px 12px 120px rgba(255, 132, 0, 0.12); */

      .extra {
        background-color: var(--color-bledny-orange);

        .text {
          color: var(--color-orange);
        }
      }

      .circle1 {
        width: 78px;
        height: 78px;
        right: 9px;
        bottom: -46px;

        background: radial-gradient(135.14% 135.14% at 37.24% -24.03%, #ff2f00 0%, #f96b27 37.5%, #ff2f00 100%)
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          #f06000;
      }

      .info {
        .title {
          color: var(--color-bledny-orange);
        }
      }

      .circle2 {
        width: 136px;
        height: 136px;
        left: -40px;
        bottom: -77px;

        background: radial-gradient(
              91.23% 91.23% at 90.95% 12.7%,
              #ffdfae 1.07%,
              #ff9c32 35.72%,
              rgba(255, 47, 0, 0.75) 62.11%,
              rgba(255, 47, 0, 0) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          #ff9c32;
      }

      .circle3 {
        width: 219px;
        height: 219px;
        left: 20px;
        top: -111px;

        background: radial-gradient(104.3% 104.3% at 12.42% 105.24%, #ffdfae 0%, #f06000 37.99%, #ff5900 100%)
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          #f06000;
      }
    }

    .info {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 15px;

      .check {
        margin-top: 5px;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .extra {
      position: absolute;
      top: 15px;
      right: 15px;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 2px 4px;
      border-radius: 5px;

      .text {
        font-weight: 700;
      }
    }
  }
}

.analytics {
  padding: 0 10px;
  padding-top: 30px;
  padding-bottom: var(--spacing-bottom);

  position: relative;
  z-index: 1;
  background-color: var(--bg-color);

  > .title {
    text-align: center;
  }

  .month {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 6px 10px;

    .title {
      color: var(--color-blue);
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-bledny-blue);
      padding: 4.5px 5.5px;
      border-radius: 5px;
    }
  }
}

.signs {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2.3fr 1.3fr;
  grid-template-rows: 1.2fr 1.5fr 1.5fr;
  gap: 10px 10px;
  grid-template-areas:
    'A B'
    'A C'
    'D D';

  .sign {
    position: relative;
    background-color: var(--color-white);
    padding: 21px 15px 0 15px;
    border-radius: 20px;

    box-shadow: 0px 12px 120px rgba(132, 139, 147, 0.12);
    overflow: hidden;

    .title {
      color: var(--color-grey);
    }

    &.big {
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &:not(.big) {
      .check {
        margin-top: 4px;
      }
    }

    &.expenses {
      grid-area: A;

      aspect-ratio: 2.3 / 2.8;

      .tags {
        max-height: 63px;
        overflow: hidden;
      }
    }

    &.perDay {
      grid-area: B;

      background: radial-gradient(81.67% 81.67% at 40.77% 96.25%, rgba(140, 0, 255, 0.7) 0%, rgba(0, 122, 255, 0) 100%),
        radial-gradient(130.38% 153.02% at 88.46% 60%, rgba(0, 255, 251, 0.7) 0%, rgba(0, 122, 255, 0) 100%), #007aff;
      box-shadow: 0px 12px 120px rgba(0, 122, 255, 0.12);
      color: var(--color-bledny-blue);

      .title {
        color: var(--color-bledny-blue);
      }

      > img {
        position: absolute;
        bottom: -23px;
        right: -20px;

        img {
          position: absolute;
          bottom: -23px;
          right: -20px;
        }
      }
    }

    &.dynamic {
      grid-area: C;
      background: radial-gradient(84% 84% at 75% 50%, rgba(240, 96, 0, 0.7) 0%, rgba(255, 132, 0, 0) 100%), #ff8400;
      box-shadow: 0px 12px 120px rgba(255, 132, 0, 0.12);
      color: var(--color-bledny-orange);

      .title {
        color: var(--color-bledny-orange);
      }

      .columns {
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        width: max-content;
        margin: auto;
        display: flex;
        align-items: flex-end;
        gap: 12px;

        .column {
          width: 16px;
          background-color: #fc9730;
          border-radius: 8px 8px 0 0;

          &:first-of-type {
            height: 47%;
          }

          &:nth-of-type(2) {
            height: 23%;
          }

          &:nth-of-type(3) {
            height: 35%;
          }

          &:last-of-type {
            height: 41%;
            background-color: var(--color-white);
          }
        }
      }
    }

    &.income {
      grid-area: D;
    }
  }
}

.tags {
  margin-top: 20px;
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}

.bar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;

  .scale {
    position: relative;
    height: 16px;
    border-radius: 0 8px 8px 0;

    &:not(:last-of-type) {
      &:before {
        position: absolute;
        content: '';
        right: -8px;
        background-color: inherit;
        width: 16px;
        height: 16px;
        border-radius: 0 8px 8px 0;
      }
    }

    &:first-of-type {
      flex-grow: 1;
    }
  }
}
