.title {
  text-align: center;
}

.month {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 6px 10px;

  .title {
    color: var(--color-blue);
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bledny-blue);
    padding: 4.5px 5.5px;
    border-radius: 5px;
  }
}

.signs {
  margin: 0 10px;
  margin-top: 27px;
  padding-bottom: var(--spacing-bottom);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sign {
  background-color: var(--color-white);
  border-radius: 20px;
  padding-top: 30px;

  .name {
    text-align: center;
    color: #9797a2;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .check {
    position: relative;
  }

  .change {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2px;
    color: var(--color-green);
    background-color: var(--color-bledny-green);
    border-radius: 5px;
    width: max-content;
    padding: 2px 4px;

    svg {
      transform: rotate(180deg);
    }

    &.lesion {
      color: var(--color-green);
      background-color: var(--color-bledny-green);
      font-weight: 700;

      svg {
        margin-right: 5px;
        margin-left: 3px;
        transform: rotate(0);

        path {
          fill: var(--color-green);
        }
      }
    }
  }
}

.circles {
  margin: 0 auto;
  margin-top: 30px;
  width: 310px;
  height: 232px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;

  .category {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;

    .icon {
      padding: 7px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
    }

    .check {
      color: #ffffff;
      display: none;
    }

    .name {
      color: #ffffff;
    }
  }
}

.list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 15px;

  .item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-of-type) {
      // margin-bottom: 30px;
      &::before {
        position: absolute;
        content: '';
        bottom: -15px;
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--color-category-border);
        border-radius: 1px;
      }
    }
  }

  .category {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      display: inline-block;
      background-color: var(--bg-color);
      padding: 15px;
      border-radius: 15px;
    }

    .name {
      color: var(--color-dark);
    }

    .check {
      font-weight: 700;

      .value {
        margin-right: 3px;
      }
    }
  }

  .percent {
    font-weight: 700;
  }
}

.columns {
  position: relative;
  margin: 0 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 289px;

  &::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .column {
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 122, 255, 0.6) 0%, rgba(0, 122, 255, 0) 100%);
    align-items: center;
    height: 100%;
    width: 10px;

    .line {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-color: var(--color-white);
    }

    h5 {
      position: absolute;
      bottom: -24px;
      color: var(--color-grey);
    }
  }
}

.bottom {
  margin-top: 30px;
  padding: 15px;
  display: flex;
  justify-content: space-between;

  h5 {
    font-size: 1rem;
    color: var(--color-grey);
  }

  .check {
    margin-top: 10px;
  }
}
