.title {
  text-align: center;
}

.month {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 6px 10px;

  .title {
    color: var(--color-blue);
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bledny-blue);
    padding: 4.5px 5.5px;
    border-radius: 5px;
  }
}

.transactions {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;

  .head {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

    .date,
    .result {
      display: flex;
      align-items: center;
      gap: 8px;

      > .icon {
        padding: 8px;
        border-radius: 10px;
      }
    }

    .date {
      .icon {
        background-color: var(--color-bledny-blue);
      }
    }

    .result {
      .icon {
        background-color: var(--color-bledny-orange);
      }
    }
  }

  .list {
    margin-top: 10px;
    background-color: var(--color-white);
    padding: 15px;
    border-radius: 20px;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(:first-of-type) {
        padding-top: 15px;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid var(--bg-color);
        padding-bottom: 15px;
      }
    }

    .category {
      display: flex;
      align-items: center;
      gap: 10px;

      .icon {
        display: inline-block;
        background-color: #e23235;
        padding: 15px;
        border-radius: 15px;
      }
    }
  }
}

.check {
  font-weight: 700;
}
